# Python cache files
__pycache__/
*.py[cod]
*$py.class

# CatBoost output directories
catboost_info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE configs
.vscode/
.idea/
.DS_Store

# Microsoft Office Lock Files
~$*.pptx
~$*.docx
~$*.xlsx
